<?xml version="1.0" encoding="utf-8" ?>
<!-- STAGING-->
<!--<appSettings>
  <add key="OrchestratorUrl" value="https://uiorchestrator-stg.balglobal.com/" />
  <add key="QueueName" value="OTAzNS1SZXF1ZXN0"/>
  <add key="ResponseQueueName" value="OTAzNS1SZXNwb25zZQ=="/>
  <add key="tenancyName" value="" />
  <add key="usernameOrEmailAddress" value="c3RnLXVpcm9ib3RAYmFsZ2xvYmFsLmNvbQ==" />
  <add key="password" value="d1VqTEJzM0wxQ01HMHhrWEpUT1c=" />
  <add key="SecretKey" value="Mjg5RUEwODJDNzJGOTA1N0FDQkFDQUM1RUM3NEYwQjM="/>
  <add key="oidc:Authority" value="https://idaas-api-tst1.balglobal.com" />
  <add key="oidc:ClientId" value="rpaui" />
  <add key="oidc:RedirectUrl" value="https://rpaui.balglobal.com/stg" />
  <add key="ElasticSearch:Authority" value="https://vpc-bal-es-uipath-stg-qbceejar3ywxu54v7vnedxfdtu.us-west-2.es.amazonaws.com/" />
  <add key="ESSecretKey" value="MENCM0M3NzQyMEU5QjdERDIyNzUzMDE2NzAwQjFEQ0Q="/>
  <add key="LookupKey" value="DOL"/>
  <add key="DbAutomation:Authority" value="https://rpaui.balglobal.com/STG/AutomationAPI/"/>
</appSettings>-->



<!-- Local Machine Environment-->
<appSettings>
  <add key="OrchestratorUrl" value="https://cloud.uipath.com/appsgixloibf/DefaultTenant/orchestrator_/" />
  <add key="isDevelopmentEnvironment" value="true" />
  <add key="QueueName" value="OTAzNS1SZXF1ZXN0"/>
  <add key="ResponseQueueName" value="OTAzNS1SZXNwb25zZQ=="/>
  <add key="tenancyName" value="RGVmYXVsdFRlbmFudA==" />
  <add key="usernameOrEmailAddress" value="bXVoYW1tYWQubXVzdGFmYUBhcHBzZ2VuaWkuZXU=" />
  <add key="password" value="QWRtaW5AMTIz" />
  <add key="SecretKey" value="UlZVcEw2WTJoazVjZ2hjd285aDJJRmJyd0RpbDJvb00="/>
  <add key="oidc:Authority" value="https://idaas-api-tst1.balglobal.com" />
  <add key="oidc:ClientId" value="rpaui" />
  <add key="oidc:RedirectUrl" value="https://rpaui.balglobal.com/stg" />
  <add key="ElasticSearch:Authority" value="https://vpc-bal-es-uipath-stg-qbceejar3ywxu54v7vnedxfdtu.us-west-2.es.amazonaws.com/" />
  <add key="ESSecretKey" value="MENCM0M3NzQyMEU5QjdERDIyNzUzMDE2NzAwQjFEQ0Q="/>
  <add key="LookupKey" value="DOL"/>
  <add key="DbAutomation:Authority" value="https://localhost:44386/"/>
</appSettings>



<!-- PRODUCTION
<appSettings>
  <add key="OrchestratorUrl" value="https://uiorchestrator.balglobal.com/" />
  <add key="QueueName" value="OTAzNS1SZXF1ZXN0"/>
  <add key="ResponseQueueName" value="OTAzNS1SZXNwb25zZQ=="/>
  <add key="tenancyName" value="" />
  <add key="usernameOrEmailAddress" value="YWRtaW4=" />
  <add key="password" value="czJENTVqalBsb3JmZUdyYlZjaW4=" />
  <add key="SecretKey" value="Mjg5RUEwODJDNzJGOTA1N0FDQkFDQUM1RUM3NEYwQjM="/>
  <add key="oidc:Authority" value="https://idaas-api-tst1.balglobal.com" />
  <add key="oidc:ClientId" value="rpaui" />
  <add key="oidc:RedirectUrl" value="https://rpaui.balglobal.com/prod" />
  <add key="ElasticSearch:Authority" value="https://vpc-bal-es-uipath-prd-5hrm25h46olv45lfo4arltfnca.us-west-2.es.amazonaws.com/" />
  <add key="ESSecretKey" value="MENCM0M3NzQyMEU5QjdERDIyNzUzMDE2NzAwQjFEQ0Q="/>
  <add key="LookupKey" value="DOL"/>
  <add key="DbAutomation:Authority" value="https://localhost:44386/"/>
</appSettings>
-->
