<?xml version="1.0" encoding="utf-8" ?>
<!-- STAGING-->
<!--<appSettings>
	<add key="OrchestratorUrl" value="https://uiorchestrator-stg.balglobal.com/" />
	<add key="isDevelopmentEnvironment" value="false" />
	<add key="EnvironmentName" value="stg" />
	<add key="QueueName" value="OTAzNS1SZXF1ZXN0"/>
	<add key="CobaltDQueueName" value="OTAzNS1Jbml0"/>
	<add key="ResponseQueueName" value="OTAzNS1SZXNwb25zZQ=="/>
	<add key="tenancyName" value="" />
	<add key="CobaltDtenancyName" value="Q29iYWx0RA==" />
	<add key="DataLakeUserName" value="YXV0b21hdGlvbl9zdGc=" />
	<add key="DataLakePassword" value="ZGFwaWEzZmU1YTk4YjAwMmY5OTQ2Mzg2ZWI2OTg5OTFjYThk" />
	<add key="usernameOrEmailAddress" value="U3RnSUlTVXNlcg==" />
	<add key="password" value="d1VqTEJzM0wxQ01HMHhrWEpUT1c=" />
	<add key="SecretKey" value="Mjg5RUEwODJDNzJGOTA1N0FDQkFDQUM1RUM3NEYwQjM="/>
	<add key="oidc:Authority" value="https://idaas-api-tst1.balglobal.com" />
	<add key="oidc:ClientId" value="rpaui" />
	<add key="oidc:RedirectUrl" value="https://rpaui.balglobal.com/stg" />
	<add key="ElasticSearch:Authority" value="https://vpc-bal-es-uipath-stg-qbceejar3ywxu54v7vnedxfdtu.us-west-2.es.amazonaws.com/" />
	<add key="ESSecretKey" value="MENCM0M3NzQyMEU5QjdERDIyNzUzMDE2NzAwQjFEQ0Q="/>
	<add key="LookupKey" value="DOL"/>
	<add key="DbAutomation:Authority" value="https://rpaui.balglobal.com/STG/AutomationAPI/"/>
</appSettings>-->






<!--PRODUCTION-->
<appSettings>
  <add key="OrchestratorUrl" value="https://uiorchestrator.balglobal.com/" />
  <add key="isDevelopmentEnvironment" value="false" />
   <add key="EnvironmentName" value="prod" />
  <add key="QueueName" value="OTAzNS1SZXF1ZXN0"/>
  <add key="CobaltDQueueName" value="OTAzNS1Jbml0"/>
  <add key="ResponseQueueName" value="OTAzNS1SZXNwb25zZQ=="/>
  <add key="tenancyName" value="" />
  <add key="CobaltDtenancyName" value="Q29iYWx0RA==" />
  <add key="DataLakeUserName" value="YXV0b21hdGlvbl9wcmQ=" />
  <add key="DataLakePassword" value="ZGFwaTM2MjM4NjVkNWVlODI3NGMyYzgxODQxZjhhY2U5NGQy" />
  <add key="usernameOrEmailAddress" value="SUlTVXNlcg==" />
  <add key="password" value="czJENTVqalBsb3JmZUdyYlZjaW4=" />
  <add key="SecretKey" value="Mjg5RUEwODJDNzJGOTA1N0FDQkFDQUM1RUM3NEYwQjM="/>
  <add key="oidc:Authority" value="https://idaas-api-tst1.balglobal.com" />
  <add key="oidc:ClientId" value="rpaui" />
  <add key="oidc:RedirectUrl" value="https://rpaui.balglobal.com/prod" />
  <add key="ElasticSearch:Authority" value="https://vpc-bal-es-uipath-prd-5hrm25h46olv45lfo4arltfnca.us-west-2.es.amazonaws.com/" />
  <add key="ESSecretKey" value="MENCM0M3NzQyMEU5QjdERDIyNzUzMDE2NzAwQjFEQ0Q="/>
  <add key="LookupKey" value="DOL"/>
  <add key="DbAutomation:Authority" value="https://localhost:44386/"/>
</appSettings>

